<?xml version='1.0' encoding='utf-8'?>
<iTStation>
	<Log>
        <!--日志等级：LEVEL_OFF LEVEL_ERROR LEVEL_WARN LEVEL_INFO LEVEL_SUCCESS LEVEL_DEBUG-->
        <Level>LEVEL_INFO</Level>
        <MaxSize>1024000</MaxSize>
        <MaxNum>100</MaxNum>
        <AppendComsole>1</AppendComsole>
    </Log>
	
  <CtpTradeAccount>
    <broker_id>66666</broker_id>
    <user_id>7108850936</user_id>
    <pwd>173515</pwd>
    <front_addr>tcp://116.246.25.180:53205</front_addr>
  </CtpTradeAccount>
  
  <DataServer>
	  <broker_id>66666</broker_id>
	  <ctp_address>
		  <Address IP="tcp://180.169.101.177:43213" />
		  <Address IP="tcp://180.169.101.178:43213" />
		  <Address IP="tcp://58.246.202.225:43213" />
		  <Address IP="tcp://58.246.202.226:43213" />
	  </ctp_address>
	  <my_address>
		  <Address IP="127.0.0.1" />
	  </my_address>
	  <port>1234</port>
  </DataServer>

  
  <Strategy_MA>
      <code>j1709</code>
      <kline_period>1m</kline_period>
      <short_ma>5</short_ma>
      <long_ma>10</long_ma>
      <submit_hands>1</submit_hands>
      <cancel_interval>1m</cancel_interval>
      <jump_nums>4</jump_nums>
	  <target_profit_value>1000000</target_profit_value>
  </Strategy_MA>
  
  <Strategy_cta_tradelist>
    <jump_nums>10</jump_nums>
    <target_profit_value>970000</target_profit_value>
  </Strategy_cta_tradelist>
  
</iTStation>
